.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.center-content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 15%;
}

i {
  font-weight: 700;
  font-size: 16px;
  color: #860ba8;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-top: 10px;
  width: 100%;
}
.mat-button {
  margin-top: 10px;
  width: 100%;
  color: #ffff !important;
  background-color: #860ba8;
  height: 55px;
}
